.header
{
    width: 98.5%;
    background-color: rgba(255, 255, 255, 0.507);
    height: 5.5rem;
    margin-left: 0%;
    margin-right: 0%;
    position: fixed;
    font-family: "Quicksand", sans-serif;
    font-weight: 620;
    font-style: normal;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    backdrop-filter: blur(4px);
    color: rgb(15, 12, 12);
    border-radius: 10px;
}

.heading_font
{
    margin: 0%; 
    padding-top: 5px;
    padding-bottom: 0;
}

.tagline
{
    font-size: 0.8rem;
    margin-top: -9px;
    padding-top: 1px;
}

body
{
    background-image: url("https://images.pexels.com/photos/1884581/pexels-photo-1884581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    
}